@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

html, body {
  margin: 0;
  padding: 0;
  cursor: crosshair;
}
canvas {
  display: block;
}



.botao-tela-inicial {
  font-family: 'Luckiest Guy', cursive;
  padding: 1rem 1.25rem;
  font-size: 1.5rem;
  letter-spacing: .25rem;
  box-shadow: 2px 2px 0px 1px #8d63f0;
  text-transform: uppercase;
  background-color: #8d17d1;
  border: none;
  border-radius: .75rem;
  color: #fff;
}

.botao-tela-inicial:hover {
  background-color: #ffe76e;
  box-shadow: 2px 2px 0px 1px #b58a8a;
   color: #000;
}